body {
    font-family: 'Be Vietnam', ;
    background-color: hsla(227, 12%, 61%, 0.247);
}
nav{
    position: static;
}

.container{
    display: flex;
    justify-content: space-between;
    padding: 20px;
    align-items: center;
    max-width: 1300px;
    margin: auto;

    .nav--list {
        display: flex;
        list-style: none;

        @media only screen and (max-width:900px) {
            display: none;

        }

        a {

            text-decoration: none;
            margin-left: 30px;
            color: black;

            &:hover {
                color: hsl(12, 88%, 59%);
            }

        }

    }



    .nav--btn {
        .menu{
            display: none;
            @media only screen and (max-width:900px) {
                display: block;
    
            }
        }
        .menu2{
            display: none;
        }
        button {
            height: 40px;
            width: 120px;
            border-radius: 20px;
            border: 0;
            background-color: hsl(12, 88%, 59%);
            color: white;
            font-family: 'Be Vietnam', ;

            &:hover {
                box-shadow: 0 0 30px rgb(116, 116, 116);
            }
            @media only screen and (max-width:900px) {
                display: none;
    
            }
        }
    }
}

.nav--list2 {
    display: none;
    margin: auto;
    width: 250px;
    height: auto;
    box-shadow: 0 0 40px rgb(116, 116, 116);
    padding: 30px;
    border-radius: 8px;

    ul {
        margin-right: 45px;
        text-align: center;
        list-style: none;

        li {
            margin-top: 20px;


            a {
                text-decoration: none;
                color: black;
                font-weight: 700;

                &:hover {
                    color: hsl(12, 88%, 59%) ;
                }

            }



        }

    }





}
