.section1 {
    font-family: 'Be Vietnam', sans-serif;
    font-size: 16px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    background-image: url('../images/bg-tablet-pattern.svg');
    background-repeat: no-repeat;
    padding:30px;




    h2 {

        color: hsl(228, 39%, 23%);

    }
}

.section1-1 {
   
    padding-bottom: 20px;

    @media only screen and (max-width : 973px) {
       
margin-top:100px;
    }
    

}

.section1-2 {

    h3 {
        color: hsl(228, 39%, 23%);

    }

   
}

.section-12 {
    
background-color: hsl(12, 88%, 59%);
  border: none;
  color: white;
  border-radius:20px;
  margin-right: 15px;
  width:70px;
  height:40px;
  margin-top:17px;
  font-size: 16px;
  
  text-align: center; 
}

.sect {
    display: flex;

}