body {
  font-family: "Be Vietnam";
  background-color: rgba(144, 149, 167, 0.247); }

nav {
  position: static; }

.container {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  align-items: center;
  max-width: 1300px;
  margin: auto; }
  .container .nav--list {
    display: flex;
    list-style: none; }
    @media only screen and (max-width: 900px) {
      .container .nav--list {
        display: none; } }
    .container .nav--list a {
      text-decoration: none;
      margin-left: 30px;
      color: black; }
      .container .nav--list a:hover {
        color: #f25f3a; }
  .container .nav--btn .menu {
    display: none; }
    @media only screen and (max-width: 900px) {
      .container .nav--btn .menu {
        display: block; } }
  .container .nav--btn .menu2 {
    display: none; }
  .container .nav--btn button {
    height: 40px;
    width: 120px;
    border-radius: 20px;
    border: 0;
    background-color: #f25f3a;
    color: white;
    font-family: "Be Vietnam"; }
    .container .nav--btn button:hover {
      box-shadow: 0 0 30px #747474; }
    @media only screen and (max-width: 900px) {
      .container .nav--btn button {
        display: none; } }

.nav--list2 {
  display: none;
  margin: auto;
  width: 250px;
  height: auto;
  box-shadow: 0 0 40px #747474;
  padding: 30px;
  border-radius: 8px; }
  .nav--list2 ul {
    margin-right: 45px;
    text-align: center;
    list-style: none; }
    .nav--list2 ul li {
      margin-top: 20px; }
      .nav--list2 ul li a {
        text-decoration: none;
        color: black;
        font-weight: 700; }
        .nav--list2 ul li a:hover {
          color: #f25f3a; }
